body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, #080421 0%, #150A5C 100%);

  font-family: cursive;
  font-size: 64px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 30px;

}

.container {
  background-color: black;
  width: 900px;
  height: 340px;
  position: relative;
  display: absolute;
  border-radius: 25px;
  text-align: center;
   margin-bottom: 20px;
  border: 6px solid #362BB0;
  
}

.container2 {
  background-color: black;
  width: 900px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  text-align: center;
   margin-bottom: 20px;
  border: 6px solid #362BB0;
  
}

.btn {
  
  padding: 10px 20px;
  background-color:black;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: none;
  font-size: 20px;

}

.btn:hover {
  background-color: #362BB0; 
  cursor: pointer;
  transform: scale(1,1);
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons-only {
  justify-content: center;
}


.circulos{
  display: flex;
  justify-content: center;
  gap: 54px;
}

.btncirculo{
   align-items: center;
   display: block;
  justify-content: space-between;
  background-color:black;
  color: white;
  padding: 120px 4px;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 28px; 
  border: 5px solid #362BB0;
  

}

.btncirculo:hover{
  background-color: #362BB0; 
  cursor: pointer;
  transform: scale(1,1);
}