body {
    margin: 0;
    padding: 0;
  }
  
  .main-container {
     background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,45,121,1) 48%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    background-color: #fff;
  }